<?xml version="1.0" encoding="ISO-8859-1"?> 

<plugin name="jverein" version="1.3.0-devel"
  class="de.jost_net.JVerein.JVereinPlugin"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="http://www.willuhn.de/schema/jameica-plugin-1.0.xsd">

  <description>OpenSource-Vereinsverwaltung</description>
  <url>http://download2.berlios.de/jverein/jverein.1.2.0.zip</url>
  
  <homepage>http://www.jverein.de</homepage>
  <license>GPL - http://www.gnu.org/copyleft/gpl.html</license>
 
  <menu>
    <item name="JVerein" >
    <item name="Dokumentation"
      shortcut="ALT+D" 
      action="de.jost_net.JVerein.gui.action.DokumentationAction">
	</item>
	<item name="Stammdaten"
      shortcut="ALT+S" 
      action="de.jost_net.JVerein.gui.action.StammdatenAction">
	</item>
	<item name="Beitragsgruppe"
      shortcut="ALT+G" 
      action="de.jost_net.JVerein.gui.action.BeitragsgruppeSucheAction">
	</item>
	<item name="Buchungsart"
      shortcut="ALT+B" 
      action="de.jost_net.JVerein.gui.action.BuchungsartListAction">
	</item>
	<item name="Einstellungen"
      shortcut="ALT+E" 
      action="de.jost_net.JVerein.gui.action.EinstellungenAction">
	</item>
	<item name="Felddefinitionen"
	  shortcut="ALT+F"
	  action="de.jost_net.JVerein.gui.action.FelddefinitionenAction">
	</item>
	<item name="Formulare"
	  shortcut="ALT+O"
	  action="de.jost_net.JVerein.gui.action.FormularListeAction">
	</item> 
	<item name="Lehrgangsarten"
	  shortcut="ALT+L"
	  action="de.jost_net.JVerein.gui.action.LehrgangsartListeAction">
	</item> 
-	<item name="-" /> 
	<item name="Import"
      shortcut="ALT+I" 
      action="de.jost_net.JVerein.gui.action.MitgliedImportAction">
    </item>
    <item name="Erweitert">
  	  <item name="Diagnose-Backup erstellen" 
  	      action="de.jost_net.JVerein.gui.action.BackupCreateAction" />
  	  <item name="Diagnose-Backup importieren" 
  	      action="de.jost_net.JVerein.gui.action.BackupRestoreAction" />
  	</item>
	<item name="About" 
      action="de.jost_net.JVerein.gui.action.AboutAction" />
  	</item>
  	
  </menu>
  <classfinder>
    <include>jverein\.jar</include>
    <include>.*\.class</include>
  </classfinder>

  <navigation>
    <item name="JVerein"		
	  icon-close="folder.png" 
	  icon-open="folder-open.png" 	
	  action="de.jost_net.JVerein.gui.action.WelcomeAction"
      id="jverein.main">
    </item>
  </navigation>
   
  <services>
    <service name="database" depends="" autostart="true"
	  class="de.jost_net.JVerein.server.JVereinDBServiceImpl" />
  </services>
	
  <requires jameica="1.8+">
    <import plugin="hibiscus" version="1.10+"/>
  </requires>
	
</plugin>

