<?xml version="1.0" encoding="ISO-8859-1"?> 

<plugin name="jverein" version="1.0"
	class="de.jost_net.JVerein.JVereinPlugin">

	<description>Jameica-Vereinsverwaltung</description>
	<url></url>
	<homepage>http://www.jverein.de</homepage>
	<license>GPL - http://www.gnu.org/copyleft/gpl.html</license>

	<!-- The content of the following tag is displayed in the menu bar. //-->
	<menu>
		<item name="JVerein">
	      <item name="Dokumentation"
            shortcut="ALT+D" 
        		action="de.jost_net.JVerein.gui.action.DokumentationAction">
	      </item>
		  <item name="Stammdaten"
              shortcut="ALT+S" 
        		action="de.jost_net.JVerein.gui.action.StammdatenAction">
	  	  </item>
		  <item name="Beitragsgruppe"
            shortcut="ALT+G" 
            action="de.jost_net.JVerein.gui.action.BeitragsgruppeSucheAction">
	      </item>
		  <item name="Einstellungen"
            shortcut="ALT+E" 
            action="de.jost_net.JVerein.gui.action.EinstellungenAction">
	      </item>
	      <item name="Felddefinitionen"
	        shortcut="ALT+F"
	        action="de.jost_net.JVerein.gui.action.FelddefinitionenAction">
	      </item>
-	    <item name="-" /> 
	   	<item name="Import"
            shortcut="ALT+I" 
    				action="de.jost_net.JVerein.gui.action.MitgliedImportAction">
    	</item>
-	    <item name="-" /> 
	    <item name="About" 
            action="de.jost_net.JVerein.gui.action.AboutAction" />
  		</item>
	</menu>
  <classfinder>
    <include>jverein\.jar</include>
    <include>.*\.class</include>
  </classfinder>

	<!-- the content of this tag will appear within the navigation tree on the left hand //-->

	<navigation>

	  <!-- Same procedure as in the menu tag //-->
  
	  <item name="JVerein"		
			icon-close="folder.gif" 
			icon-open="folderopen.gif" 	
			action="de.jost_net.JVerein.gui.action.WelcomeAction"
			id="jverein.main">
      </item>
   </navigation>
   

	<!--
		Here you can define your service classes. This is typically a
	    database connection. You can list more than one service in this
	    section. By using the depends attribute you can define a startup order
	    for your services. Example:

		<services>
			<service name="base-service" depends="" autostart="true" class="BaseService" />
			<service name="extended-service" depends="base-service" autostart="true" class="ExtendedService" />
		</services>
	    
	//-->
	    
	<services>
		<service name="database" depends="" autostart="true"
				 class="de.jost_net.JVerein.server.JVereinDBServiceImpl" />
	</services>
	
	<requires>
    	<import plugin="hibiscus"/>
  	</requires>
	
</plugin>

